%form{:method => :post}
  %table
    %caption= 'Cost Analysis Calculator'
    %thead
    %tfoot
      %tr
        %th{:colspan => @calculators.size + 1} Use or Free EMR and further impact practice cost and profitability.  Call us 1.877.666.5279.  We look forward to hearing from you!
    %tbody
      = input_row_for(:number_of_doctors_in_your_practice)
      = input_row_for(:yearly_practice_receivables)
      = question_row(:bad_debt_write_off_per_year)
      = question_row(:a_conservative_average_would_be_11_percent)
      = input_row_for(:number_of_billing_personnel)
      = question_row(:annual_hours_for_billing_employees)
      = question_row(:employee_2080_hours_per_year)
      = question_row(:annual_salary_saved_for_billing_personnel)
      = question_row(:employee_benefits_percentage_of_salary)
      = question_row(:conservative_employee_benefits_percentage_of_salary)
      = question_row(:annual_employee_benefits)
      = question_row(:annual_employer_portion_of_fica_saved)
      = question_row(:cost_of_employee_turnover_learning_curve_training)
      = question_row(:education_and_coding_seminars_annually)
      = question_row(:misc_billing_costs_postage_forms_telephone)
      = question_row(:average_misc_billing_costs_postage_forms_telephone)
      = question_row(:total_billing_costs)
      = question_row(:yearly_practice_receivables_repeat)
      = input_row_for(:billing_service_fee_for_full_service)
      = question_row(:percentage_of_what_we_collect)
      = question_row(:cost_of_using_advantage_medical_billing_solutions)
      = question_row(:current_billing_cost)
      = question_row(:minus_cost_of_advantage_medical_billing_solutions)
      = question_row(:annual_change_in_net_cash_flow)
      %tr
        %td{:colspan => @calculators.size}
        %td
          %input{:type => 'submit', :value => 'Calculate'}
